// main: index.scss


/* Checking
------------------------------------------------------------*/
@import "main.scss";

.checking{
  .checkedImages{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .checkcard{
      position: relative;
      border: 2px solid $themeGray;
      border-radius: 5px;
      margin: 20px 10px 10px 5px;
      padding: 30px;
      img{
        margin-top: 15px;
        margin-left: 5px;
        margin-right: 5px;
        width: 300px;
      }
      .btnbox{
        // position: relative;
        display: inline-flex;
        align-items: flex-end;
        margin: 5px;
        form{
          width: 50%;
          text-align: center;
          margin: 15px;
          label{
            display: inline-block;
            margin: 10px;
          }
          button{
            width: 200px;
            height: 50px;
            margin-top: 30px;
            font-size: 1.2rem;
            background-color: $themeOrange;
          }
        }
      }
    }
    .checkcard::before {
      position: absolute;
      top: -0.6em;
      background-color: #fff;
      color: $textGray;
      content: "検収中";
      font-weight: bold;
      font-size: 1.3em;
      left: 30px;
      padding: 3px 10px;

    }
  }
}
