// main: index.scss


/* Oauth
------------------------------------------------------------*/
@import "main.scss";

#oauth{
  text-align: center;
  input{
    height: 1.5em;
    min-width: 300px;
    margin: 5px;
  }
  button{
    width: 200px;
    height: 2em;
    margin: 40px auto;
  }
}
