// main: index.scss


/* Oauth
------------------------------------------------------------*/
@import "main.scss";

.order{
  width: 100%;
  height: 100%;
  button{
    display: block;
    width: 400px;
    height: 200px;
    margin: auto;
    font-size: 3em;
    background-color: $themeOrange;
  }
  .requestImages{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .ordercard{
      position: relative;
      border: 2px solid $themeGray;
      border-radius: 5px;
      margin: 20px 10px 10px 5px;
      padding: 30px;
      img{
        margin-top: 15px;
        width: 300px;

      }
    }
    .ordercard::before {
      position: absolute;
      top: -0.6em;
      background-color: #fff;
      color: $textGray;
      content: "作図中";
      font-weight: bold;
      font-size: 1.3em;
      left: 30px;
      padding: 3px 10px;

    }
  }
}
