@charset "UTF-8";
/* reset */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
}

ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th {
  text-align: left;
}

q:before, q:after {
  content: '';
}

object, embed {
  vertical-align: top;
}

legend {
  display: none;
}

h1 {
  font-size: 110%;
}

h2, h3, h4, h5, h6 {
  font-size: 100%;
}

img, abbr, acronym, fieldset {
  border: 0;
}

/* Global
------------------------------------------------------------*/
body {
  min-height: 100vh;
}

li {
  list-style: none;
}

/* Oauth
------------------------------------------------------------*/
#oauth {
  text-align: center;
}

#oauth input {
  height: 1.5em;
  min-width: 300px;
  margin: 5px;
}

#oauth button {
  width: 200px;
  height: 2em;
  margin: 40px auto;
}

/* Modal
------------------------------------------------------------*/
#modal {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: rgba(100, 100, 100, 0.7);
  z-index: 100;
}

#modal div {
  margin: auto;
  padding: 2em;
  background-color: white;
  opacity: 1;
  font-weight: bold;
}

#modal div * {
  margin: 5px;
}

#modal button {
  margin: 20px;
}

/* ContentsBody
------------------------------------------------------------*/
#contentsbody {
  position: relative;
  min-height: 100vh;
}

/* Header
------------------------------------------------------------*/
.header {
  display: flex;
  align-items: flex-end;
  /* overflow: hidden; */
  min-height: 50px;
  max-width: 100vw;
  border-bottom: 0.5em solid #ffb812;
}

.header h1 {
  width: 40%;
}

.header ul.headernav {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: center;
  height: 40px;
  width: 60%;
  overflow: hidden;
}

.header ul.headernav li {
  position: relative;
  width: 25%;
  text-align: center;
  background-color: #e5e2db;
  padding-top: 0.3em;
  z-index: 100;
}

.header ul.headernav li.active {
  display: flex;
  height: 100%;
  background-color: #ffb812;
}

.header ul.headernav li.active span {
  display: block;
  margin: auto;
}

/* Contents
------------------------------------------------------------*/
.contents {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* Recieve
------------------------------------------------------------*/
.recieve {
  margin: 30px;
}

.recieve label {
  display: inline-block;
  width: 200px;
  margin: 2px;
}

.recieve button {
  display: block;
  height: 2em;
  width: 20em;
  margin: 20px;
}

/* Oauth
------------------------------------------------------------*/
.order {
  width: 100%;
  height: 100%;
}

.order button {
  display: block;
  width: 400px;
  height: 200px;
  margin: auto;
  font-size: 3em;
  background-color: #ffb812;
}

.order .requestImages {
  display: flex;
}

.order .requestImages .ordercard {
  position: relative;
  border: 2px solid #e5e2db;
  border-radius: 5px;
  margin: 15px 5px 5px 5px;
  padding: 30px;
}

.order .requestImages .ordercard img {
  margin-top: 15px;
  width: 300px;
}

.order .requestImages .ordercard::before {
  position: absolute;
  top: -0.6em;
  background-color: #fff;
  color: #999999;
  content: "作図中";
  font-weight: bold;
  font-size: 1.3em;
  left: 30px;
  padding: 3px 10px;
}
